/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Variables */
:root {
    --primary-bg: #25167A;
    --secondary-bg: #E1DEF4;
    --primary-color: #25167A;
    --secondary-color: #E1DEF4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

section {
    padding: 0 0 0 2rem;
}

/* Section title */
section h3 {
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: .5rem;
    font-size: 1.2rem;  
}

a {
    text-decoration: none;
}

/* Seperator line */
.seperator {
    width: 60px;
    height: 2px;
    background: var(--secondary-bg);
    display: block;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    height: 55px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    display: flex;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 999;
    top: 0;
    background: #fff;
}

/* Logo wrapper */
.logo-wrapper {
    align-items: center;
    display: flex;
    left: 25px;
    position: relative;
}

.logo-wrapper svg {
    fill: #25167A;
    width: 150px;
    height: auto;
}

/*--------------------------------------------------------------
# Header Navigation
--------------------------------------------------------------*/
nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    transition: 200ms;
}

nav ul li a {
    color: var(--primary-color);
    font-size: 0.875em;
}

/* Aanmeld btn */
nav ul li:nth-child(6) a {
    background: #E1DEF4;
    padding: 6px 10px;
    border-radius: 20px;
    position: relative;
}

/* Aanmeld btn stripe */
nav ul li:nth-child(6) a:before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #C0C0C0;
    position: absolute;
    left: -10px;
    top: 5px;
}

/* Header active menu item */
nav ul li a.active {
    font-weight: bold;
    border-bottom: 1px solid #25167A;
}


/*--------------------------------------------------------------
# Hamburger icon
--------------------------------------------------------------*/
.hamburger {
    cursor: pointer;
    width: 45px;
    height: 45px;
    transition: 0.3s;
    position: absolute;   
    top: 10px;
    right: 20px;
}

.hamburger:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid var(--primary-color);
    transform: scale(0);
    transition: 0.3s;
    opacity: 0;
}

/* Hamburger bars */
.hamburger div {
    position: relative;
    height: 4px;
    margin: 8px 0;
    background: var(--primary-color);
    border-radius: 999px;
    transform-origin: 50% 50%;
    transition: 0.25s;
}

.hamburger div:nth-child(2) {
    margin-left: 10px;
    transition: 0.25s;
}

.hamburger div:nth-child(3) {
    margin-left: 20px;
    transition: 0.25s;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/
.banner { 
    background-image: url('../assets/images/wave.png');
    height: 400px;
    background-repeat: no-repeat;
    margin-top: 55px;
    line-height: 1.6;
}

/* Banner inner */
.banner-inner {
    position: relative;
    top: 30px;
}

/* Banner titles */
.banner h1, h2 {
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.banner h1 {
    font-size: 2.75rem;
    font-weight: 600;
}

.banner h2 {
    font-size: 1.3rem;
}

/*--------------------------------------------------------------
# Banner buttons
--------------------------------------------------------------*/
.banner-btns {
    position: relative;
    top: 30px;
}

.banner-btns a {
    padding: 8px 11px;
    border-radius: 20px;
    transition: 200ms;
    top: 0;
    position: relative;
}  

.banner-btns a:nth-child(1) {
    background: var(--secondary-bg);
    color: var(--primary-color);
    margin-right: 10px;
}

.banner-btns a:hover {
    top: -5px;
}

.banner-btns a:nth-child(2) {
    background: var(--primary-bg);
    color: #fff;
}

/*--------------------------------------------------------------
# Tab Section
--------------------------------------------------------------*/
.info-tabs {
    margin: 0 auto;
    width: 55%;
    position: relative;
    top: -135px;
    box-shadow: 0 10px 30px 0 rgb(138 162 173 / 30%);
    padding: 0;
    background: #fff;
    border-radius: 10px;
}

.info-tabs h3 {
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    top: 10px;
}

.info-tabs ul {
    display: flex;
    position: relative;
    margin-top: 30px;
    list-style: none; 
    justify-content: space-between;
}

.info-tabs ul li {
    background: #E1DEF4;
    width: 100%;
    text-align: center;
    border-right: 1px solid silver;
    padding: 1rem 2rem 0 2rem;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.info-tabs ul li.active {
    background: #fff;
    border-bottom: none;
}

.info-tabs ul li img {
    width: 100%;
    height: 100%;
}

.info-tabs article {
    display: grid;   
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0 2rem 3rem;
}

.info-tabs article img {
    width: 60%;
    height: auto;
}

.info-tabs article div {
    position: relative;
    top: 25px;  
    padding-right: 2rem;
}

.info-tabs article h4 {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.info-tabs article p {
    color: #647482;
    font-size: .93rem;
}

/*--------------------------------------------------------------
# Useful Information Section
--------------------------------------------------------------*/
.useful-information {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; 
    padding: 1rem 1rem;
}

.useful-information article {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.useful-information article h4 {
    color: var(--primary-color);
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

.useful-information article hr {
    border: 0;
    height: 1px;
    background: var(--secondary-bg);
}

/* Useful information links */
.useful-information ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.useful-information ul li {
    margin-bottom: 5px;
    position: relative;
}

.useful-information ul li:before {
    content: '';
    background: url('../assets/images/chevron-right.svg');
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.useful-information ul li a {
    color: #25167A;
}

/*--------------------------------------------------------------
# Instructions
--------------------------------------------------------------*/
.instructions {
   padding: 0 0 0 1rem;
   margin-bottom: 1rem;
}

.instructions-slider {
    display: grid;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    cursor: grab;
}

.instructions-slider::-webkit-scrollbar {
    display: none;
}

/* Instruction item */
.instructions article {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    width: 80vw;
    margin-right: 15px;
    position: relative;
    scroll-snap-align: center;
}

/* Instruction image */
.instructions article img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Instruction content */
.instruction-content {
    padding: 0 1rem 1.5rem 1rem;
}

/* Instruction title */
.instructions article h4 {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-top: .75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Instruction seperator line */
.instructions hr {
    border: 0;
    height: 1px;
    background: var(--secondary-bg);
}

/* Instruction description */
.instructions article p {
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

/* Read more btn */
.instructions article a {
    background: var(--secondary-bg);
    color: var(--primary-color);
    padding: 6px 10px;
    border-radius: 20px;
}

/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
.faq {
    background: #F2F1F8;
    padding: 1rem 1rem;
}

.faq-questions {
    margin-top: 20px;
}

.faq-questions article {
    background: #fff;
    padding: 1rem 1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-questions article h4 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 600;
    margin-right: 100px;
}

.faq-questions hr {
    border: 0;
    height: 1px;
    background: var(--secondary-bg);
}

.faq-questions article p {
    color: #585A61;
    line-height: 1.6;
    margin-top: .5rem;
    font-size: 0.85rem;
}

.faq-questions article img {

}

/*--------------------------------------------------------------
# Media Querys
--------------------------------------------------------------*/

/* Medium devices */
@media (min-width: 40rem) {

    /* Two columns */
    .useful-information {
        grid-template-columns: 1fr 1fr;
    }

    /*--------------------------------------------------------------
    # Instructions
    --------------------------------------------------------------*/
    .instructions article {
        width: 40vw;
    }
}

/* Large devices */
@media (min-width: 60rem) {
    
    /* Three columns */
    section { 
        padding: 0 10rem 0 10rem;
    }

    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    header {
        padding: 0 5rem 0 5rem;
    }

    /* Nav menu */
    nav {
        display: flex;
    }

    /* Logo */
    .logo-wrapper {
        left: 0;
    }

    /* Hamburger */
    .hamburger {
        display: none;
    }

    /*--------------------------------------------------------------
    # Useful information
    --------------------------------------------------------------*/

    .useful-information {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 5rem 0 5rem;
    }

    .useful-information article {
        grid-row: 2;
    }

    /*--------------------------------------------------------------
    # Instructions
    --------------------------------------------------------------*/
    .instructions {
        padding: 0 5rem 0 5rem;
    }

    .instructions article {
        width: 20vw;
    }

    /*--------------------------------------------------------------
    # FAQ
    --------------------------------------------------------------*/
    .faq {
        padding: 1rem 5rem 1rem 5rem;
    }

    .faq-questions article {
        margin-bottom: 20px;
    }
}