/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

section {
    padding: 0 10rem 0 10rem;
}

a {
    text-decoration: none;
}

/* Top btn */
#topBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 998;
    border: none;
    outline: none;
    background: #25167A;
    color: #fff;
    cursor: pointer;
    padding: 15px;
}

/* Header */
header {
    height: 55px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    display: flex;
    padding: 0 10rem 0 10rem;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 999;
    top: 0;
    background: #fff;
}

/* Logo */
.logo-wrapper {
    align-items: center;
    display: flex;
}

.logo-wrapper svg {
    fill: #25167A;
    width: 125px;
    height: auto;
}

/* Navigation */
nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    transition: 200ms;
}

nav ul li:hover {
    transform: translateY(-4px);
}

nav ul li a {
    color: #25167A;
    font-size: 0.875em;
}

/* Aanmeld btn */
nav ul li:nth-child(6) a {
    background: #E1DEF4;
    padding: 6px 10px;
    border-radius: 20px;
    position: relative;
}

/* Aanmeld btn stripe */
nav ul li:nth-child(6) a:before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #C0C0C0;
    position: absolute;
    left: -10px;
    top: 5px;
}

/* Active menu item */
nav ul li a.active {
    font-weight: bold;
    border-bottom: 1px solid #25167A;
}

/* Banner */
.banner { 
    background-image: url('../assets/images/banner-wave.png');
    height: 100vh;
    background-repeat: no-repeat;
    margin-top: 55px;
    line-height: 1.6;
}

.banner h1, h2 {
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.banner h1 {
    font-size: 2.75rem;
    font-weight: 600;
}

.banner h2 {
    font-size: 1.3rem;
}

/* Banner inner */
.banner-inner {
    position: relative;
    top: 50px;
}

.banner-btns {
    position: relative;
    top: 30px;
}

.banner-btns a {
    color: #fff; 
    padding: 8px 11px;
    border-radius: 20px;
}  

.banner-btns a:nth-child(1) {
    background: #E1DEF4;
    color: #25167A;
    margin-right: 10px;
}

.banner-btns a:nth-child(2) {
    background: #25167A;
}